
#tedi > .popup {
    position: absolute;
    
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;

    transform: translate(-50%, -50%);

    padding: 10px;

    background-color: rgb(44, 44 ,44);

}