/* button */
#remocon > .button {
    position: relative; 
    display: inline-block;
    width:50px; 
    height:50px;
    border-radius: 25px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    margin: 4px;
    background-color: rgb(44,44,44);

    background-size: contain;    /* 이미지가 잘리지 않게 div 안에 맞춤 */
    background-position: center; /* 가운데 정렬 */
    background-repeat: no-repeat; /* 반복 방지 */
}
#remocon > .menu_select {
    background-color: rgba(0,0,0,0.5);
    font-size: 15px;
    color:aliceblue;
}

#remocon > .button:hover {
    background-color: gray;
}
#remocon > .button:active {
    background-color: black;
}

/* line */
#remocon > .line {
    border: none;
    height: 2px;
    margin: 10px 0;
    background-color: rgb(30,30,30);
}

/* display */
#remocon > .display {
    position: relative; /* 주사선 가상 요소를 위에 띄우기 위해 필요 */
    overflow: hidden;   /* 주사선 선이 삐져나가지 않게 */
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    border-bottom: 2px dashed rgb(30,30,30);
    margin-bottom: 10px;
    background-color: black;
    color: green;
    user-select: none;
    cursor: grab;
}
#remocon > .display:hover {
    color: rgb(0,200,0);
}
#remocon > .display:active {
    cursor: grabbing;
}
/* 주사선 효과 */
/* #remocon > .display::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    
    background: linear-gradient(
        rgba(18, 16, 16, 0) 50%, 
        rgba(0, 0, 0, 0.25) 50%
    ), 
    linear-gradient(90deg, 
        rgba(255, 0, 0, 0.06), 
        rgba(0, 255, 0, 0.02), 
        rgba(0, 0, 100, 0.06)
    );
    background-size: 100% 4px, 3px 100%;
    pointer-events: none;
} */

#remocon > .small {
    display: block;
    margin-left: 4px;
    color: rgb(100,100,100);
    user-select: none;
}

