:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overscroll-behavior: none; /* 터치시 주소창, 상하 끝에서 튕기는 효과 제거 */
}
#app {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  touch-action: none;
  overflow: hidden;
}

#controller {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;

  /* 1. 텍스트 선택을 막아 '내부 드래그' 오해를 차단 (X표시 방지 핵심) */
  user-select: none;
  -webkit-user-select: none;

  /* 2. 터치 환경 간섭 차단 (핀치 줌 로직 보호) */
  touch-action: none;
}

#remocon {
  position: absolute;
  width: 116px;
  /* width: 58px; */
  height: 700px;
  top: 30px;
  left: 10px;
  background-color: rgb(50, 50, 50);
  border-radius: 10px;
  z-index: 2000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

#remocon_reset_pos {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  
  z-index: 3000;  

  /* 45도 각도로 빨간색과 투명(또는 다른색)을 절반씩 채움 */
  /* background: linear-gradient(135deg, rgb(179, 22, 22) 50%, transparent 50%); */
  background: linear-gradient(135deg, rgb(14, 14, 14) 50%, transparent 50%);
}
#remocon_reset_pos:hover {
  background: linear-gradient(135deg, red 50%, transparent 50%);
}

#tedi {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 4000; 
    display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
