
#editor-square > square-palette {
    display: block;
    position: relative;
    background-color: black;
    padding-left: 10px;
}
#editor-square > square-palette > a {
    padding-left: 10px;
    padding-right: 4px;
}

#editor-square > div {
    position: relative;
    width: 500px;
    height: 100px;
    background-color: rgb(33,33,33);
    padding: 10px;
    line-height: 30px;
}
